.board {
    display: grid;
    height: 500px;
    width: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid black;
    border-radius: 7px;
    gap: 2px;
    padding: 2px;
    background-color: #dadada;
  }
  
  .cell {
    display: flex;
    justify-content: center;
    font-family: Cinzel, serif;
    align-items: center;
    text-align: center;
    font-size: 5rem;
    border: 1px solid grey;
    border-radius: 3px;
    background: #C0C0C0;
    cursor: pointer;
  }
  
.game-over {
  pointer-events: none;
  opacity: 0.7;
}

.player-inputs {
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.input-group {
  margin: 10px 0;
}

.input-group label {
  margin-right: 10px;
}

.input-group input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.turn {
  text-align: center;
}

#start-game {
    padding: 7px 16px;
    border: none;
    border-radius: 4px;
    background-color: #568458;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}

#start-game:hover {
    background-color: #568458;
}